#head{
	font-size:25px;
	font-weight: bold;
}
.ul{
	float:left;
	text-align:right;
}

#navbarDropdown, #homepage, #comparisonpage, #datapage{
	color: white;
	font-size:15px;
}

#navbarDropdown:hover, #homepage:hover, #comparisonpage:hover, #datapage:hover{
	background-color: red;
}

.row{
	background-color:lightgrey;
	top:40;
	width:700px;
	padding-left:10px;
	margin-left:10px;
	padding-bottom:10px;
	padding-top:10px;
	padding-right:10px;
}

#MaxTemp{
	float:left;
	width:250px;
	height:250px;
	margin-right:15px;
	margin-bottom:10px;
}

.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: black;
	color: white;
	text-align: center;
	border-top:5px solid red;
	height:50px;
}

